<!DOCTYPE html>
<html>
  <head> 
    <meta charset="utf-8">
    <script src="./../vue-development.js"></script>
  </head>
  <body>
    <div id="app">
      <p>Do You see me?</p>
      <p v-if="show">Do You also see me?</p><!-- if show is false then this paragraph is completely detached from the DOM -->
      <p v-else>Now You see me :)</p><!-- v-else is paired with nearest/latest v-if element that is before v-else element -->
      <template v-if="show"> <!-- HTML5 <template> tag is not rendered in document - but it's internals are! (no wrapper side effects!) -->
        <h1>Heading hello!</h1>
        <p>Another line</p>
      </template>
      <p v-show="show">Always in DOM!</p> <!-- v-show doesn't detach when show is false - it simply show or hide it - no removal from DOM -->
      <button @click="show = !show">Toggle</button>
      <hr>
      <ul>
        <li v-for="ingredient in ingredients">{{ ingredient }}</li>
      </ul>
      
      <hr>
      <ul>
        <li v-for="(ingredient, indx) in ingredients">{{ ingredient }} {{ indx }}</li><!-- howto get index in v-for -->
      </ul>

      <hr>
      <template v-for="person in persons"><!-- iterate with template usage -->
        <h1>{{ person.name  }}</h1>
        <p>Age: {{ person.age }} </p>
        <p>Fav color: {{ person.color }} </p>
      </template>

      <hr>
      <ul>
        <li v-for="person in persons">
          <div v-for="(value, key, index) in person">{{ key }}: {{ value }} ({{ index }})</div><!-- automatically iterate through object properties -->
        </li>
      </ul>
 
    </div>
    <script>
      new Vue({
        el: '#app',
        data: {
          show: true,
          ingredients: ['meat', 'fruit', 'vegetables'],
          persons: [
            {name: 'Max', age: 27, color: 'red'},
            {name: 'Anna', age: 'unknown', color: 'blue'}
          ]
        },
        methods: {
        }
      })
    </script>
  </body>
</html>
